{{- if .Values.lightspeedCore.enabled }}
apiVersion: v1
kind: ServiceAccount
metadata:
  name: lightspeed-core
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "aladdin-backend.lightspeedCore.labels" . | nindent 4 }}
{{- end }}

